:root {
  --body: #111a26;
  --button: #f12349;
  --active-button: rgb(76, 60, 161);
}
a {
  font-family: "Poetsen One", sans-serif;
  text-decoration: none;
  color: white;
}
* {
  box-sizing: border-box;
}
body {
  display: grid;
  grid: auto 1fr / auto;
  width: 100%;
  height: 100dvh;
  background-color: #111a26;
  color: white;
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(76, 60, 161);
  background: linear-gradient(
    150deg,
    rgba(76, 60, 161, 1) 44%,
    rgba(18, 85, 159, 1) 56%
  );
  padding: 10px;
}
nav p {
  font-family: "Poetsen One", sans-serif;
  text-transform: capitalize;
  font-size: 30px;
}
.icon {
  position: relative;
  margin-right: 30px;
  cursor: pointer;
}
.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.81);
  padding: 10px;
  transform: translateX(-20%);
  transition: 250ms ease-in-out;
  overflow: hidden;
  border-radius: 10px;
}
.menu > * {
  cursor: pointer;
}
.hide {
  width: 0%;
  padding: 0px;
}
.hidden {
  visibility: hidden;
}
.gen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
form {
  display: grid;
  grid: repeat(2, 1fr) / 1fr;
  justify-content: center;
  gap: 50px;
  width: 100%;
}
form > :nth-child(1),
form > :nth-child(2) {
  display: flex;
  width: auto;
  justify-content: center;
}
form > :nth-child(2) {
  position: relative;
}
.url,
.custom-url {
  width: calc(50%);
  height: 70px;
  border: none;
  border-radius: 15px;
  text-indent: 20px;
  font-size: 20px;
  transition: 250ms ease-in-out;
}
.url:focus,
.custom-url:focus {
  outline: none;
  box-shadow: 0px 0px 25px blue;
}
.custom-url {
  border-radius: 15px 0 0 15px;
}
input[type="submit"] {
  height: 70px;
  font-size: 20px;
  background-color: #f12349;
  border: none;
  border-radius: 0 15px 15px 0;
  padding: 10px;
  color: white;
  font-family: "Poetsen One", sans-serif;
  transition: 250ms ease-in-out;
  cursor: pointer;
}
input[type="submit"]:active {
  background-color: rgba(18, 85, 159, 1);
  color: white;
}
.qr-containter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #114daa;
  padding: 15px 50px;
  gap: 15px;
  border-radius: 10px;
}
.qr-containter h3 {
  margin: 0;
  font-family: "Poetsen One", sans-serif;
  display: flex;
  justify-content: center;
}
.error {
  font-family: "Poetsen One", sans-serif;
  position: absolute;
  color: red;
  bottom: -30px;
}
.custom-url.display-error {
  box-shadow: 0px 0px 25px red;
}
.custom-url.valid {
  box-shadow: 0px 0px 25px green;
}
